{% extends "search/base.html" %}
{% block content %}
    <!-- <h1>Search!</h1> -->
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">search</legend>
                {{ form.as_p }}
                <!-- <input type="submit" value="SEARCH"> -->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">SEARCH</button>
            </div>
        </form>

        {% if input_string %}
        <p>You entered: {{ input_string }}</p>
        {% endif %}

        {% if results %}
            {% for result in results %}
                <article class="media content-section">
                  <div class="media-body">
                    <p class="article-content">{{ result }}</p>
                  </div>
                </article>
            {% endfor %}
        {% endif %}




    </div>
{% endblock content %}


